@import "./pages.styles_/base";
@import "./componentes/footer";
@import "./componentes/input.scss";
@import "./pages.styles_/index";
@import "./pages.styles_/contacto";
@import "./pages.styles_/bicicletas";
@import "./pages.styles_/accesorios";
@import "./pages.styles_/taller";
@import "./pages.styles_/compras;


