* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
color: rgb(255, 255, 255);
margin-bottom: 10px;
}

a {
text-decoration: none;
color: white;
}

//----------------------------------- *portada*---------------------------//
@media only screen and (min-width: 320px) and (max-width: 650px) {
/* styles for mobile.*/
body {
    max-height: 100%;
    max-width: 100%;
    background-size: 5px;
    background-attachment: relative;
    background-color: rgb(14, 41, 51);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.body-contacto {
    background-image: url(/img/ciclista-paisaje-ruta.jpeg);
    max-height: 100%;
    max-width: 100%;
    background-size: 1px;
    background-attachment: relative;
    background-color: rgb(14, 41, 51);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Noto Sans", sans-serif;
    background-color: rgba(255, 140, 0, 0);
}
.body-bicicletas {
    background-image: url(/img/fondo-cielo.webp);
    max-height: 100%;
    max-width: 100%;
    background-size: 1px;
    background-attachment: relative;
    background-color: rgb(14, 41, 51);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Noto Sans", sans-serif;
    background-color: rgba(255, 140, 0, 0);
}
.body-accesorios {
    background-image: url(/img/fondo-cielo.webp);
    max-height: 100%;
    max-width: 100%;
    background-size: 1px;
    background-attachment: relative;
    background-color: rgb(14, 41, 51);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Noto Sans", sans-serif;
    background-color: rgba(255, 140, 0, 0);
}
.body-taller {
    background-image: url(/img/fondo-cielo.webp);
    max-height: 100%;
    max-width: 100%;
    background-size: 1px;
    background-attachment: relative;
    background-color: rgb(14, 41, 51);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Noto Sans", sans-serif;
    background-color: rgba(255, 140, 0, 0);
}
}
@media only screen and (min-width: 651px) and (max-width: 1119px) {
/* styles for tablet.*/
body {
    max-height: 100%;
    width: 100%;
    background-size: 5px;
    background-attachment: relative;
    background-color: rgb(14, 41, 51);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.body-contacto {
    background-image: url(/img/ciclista-paisaje-ruta.jpeg);
    background-repeat: no-repeat;
    width: 768px;
    height: 1500px;
    font-family: "Noto Sans", sans-serif;
    background-color: rgba(255, 140, 0, 0);
}
.body-bicicletas {
    max-height: 100%;
    width: 100%;
    background-size: 5px;
    background-attachment: relative;
    background-color: rgb(14, 41, 51);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.body-accesorios {
    background-image: url(/img/fondo-cielo.webp);
    background-repeat: no-repeat;
    background-size: 530px;
    font-family: "Noto Sans", sans-serif;
    width: 100%;
}
.body-taller {
    background-image: url(/img/fondo-cielo.webp);
    background-repeat: no-repeat;
    background-size: 3100px;
    height: 2300px;
    width: 100%;
    font-family: "Noto Sans", sans-serif;
    background-color: rgba(255, 140, 0, 0);
}
}
@media only screen and (min-width: 1119px) {
  /* styles for browsers larger. */
body {
    max-height: 100%;
    max-width: 100%;
    background-size: 5px;
    background-attachment: relative;
    background-color: rgb(14, 41, 51);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.body-contacto {
    background-image: url(/img/ciclista-paisaje-ruta.jpeg);
    max-width: 100%;
    background-attachment: relative;
    background-color: rgb(14, 41, 51);
}
.body-bicicletas {
    background-image: url(/img/fondo-cielo.webp);
    max-height: 100%;
    max-width: 100%;
    background-size: 5px;
    background-attachment: relative;
    background-color: rgb(14, 41, 51);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.body-accesorios {
    width: 100%;
    background-image: url(/img/fondo-cielo.webp);
    background-repeat: no-repeat;
    background-size: 1530px;
    height: 1000px;
    font-family: "Noto Sans", sans-serif;
}
.body-taller {
    background-image: url(/img/fondo-cielo.webp);
    background-repeat: no-repeat;
    background-size: 1900px;
    height: 1300px;
    font-family: "Noto Sans", sans-serif;
    width: 100%;
    background-color: rgba(255, 140, 0, 0);
}
}