* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
color: rgb(255, 255, 255);
margin-bottom: 10px;
}

a {
text-decoration: none;
color: white;
}

//----------------------------------- *portada*---------------------------//
@media only screen and (min-width: 320px) and (max-width: 650px) {
/* styles for mobile*/
body {
    max-height: 100%;
    max-width: 100%;
    background-size: 5px;
    background-attachment: relative;
    background-color: rgb(14, 41, 51);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.body-contacto {
    width: 100%;
    background-color: rgba(37, 27, 126, 0.695);
}
.body-bicicletas {
    max-height: 100%;
    max-width: 100%;
    background-attachment: relative;
    background-color: rgb(14, 41, 51);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.body-accesorios {
    background-repeat: no-repeat;
    background-size: 530px;
    font-family: "Noto Sans", sans-serif;
    width: 100%;
}
.body-taller {
    max-height: 100%;
    max-width: 100%;
    background-attachment: relative;
    background-color: rgb(14, 41, 51);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.body-compras {
    background-color: aqua;
    max-height: 100%;
    max-width: 100%;
    background-attachment: relative;
    background-color: rgb(14, 41, 51);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
}
@media only screen and (min-width: 650px) and (max-width: 1999px) {
/* styles for tablet*/
body {
    max-height: 100%;
    width: 100%;
    background-size: 5px;
    background-attachment: relative;
    background-color: rgb(14, 41, 51);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.body-contacto {
    width: 100%;
    background-color: rgba(37, 27, 126, 0.695);
}
.body-bicicletas {
    max-height: 100%;
    width: 100%;
    background-size: 5px;
    background-attachment: relative;
    background-color: rgb(14, 41, 51);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.body-accesorios {
    background-repeat: no-repeat;
    background-size: 530px;
    font-family: "Noto Sans", sans-serif;
    width: 100%;
}
.body-taller {
    max-height: 100%;
    width: 100%;
    background-size: 5px;
    background-attachment: relative;
    background-color: rgb(14, 41, 51);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.body-compras {
    max-height: 100%;
    width: 100%;
    background-size: 5px;
    background-attachment: relative;
    background-color: rgb(14, 41, 51);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
}
@media only screen and (min-width: 1200px) {
  /* styles for browsers larger */
body {
    max-height: 100%;
    max-width: 100%;
    background-size: 5px;
    background-attachment: relative;
    background-color: rgb(14, 41, 51);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.body-contacto {
    width: 100%;
    background-color: rgba(37, 27, 126, 0.695);
}
.body-bicicletas {
    max-height: 100%;
    max-width: 100%;
    background-color: rgb(14, 41, 51);

}
.body-accesorios {
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    background-color: rgb(14, 41, 51);
}
.body-taller {
    max-height: 100%;
    max-width: 100%;
    background-color: rgb(14, 41, 51);
}
.body-compras {
    width: 100%;
    background-attachment: relative;
    background-color: rgb(14, 41, 51);
}
}
