* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
color: rgb(255, 255, 255);
margin-bottom: 10px;
}

a {
text-decoration: none;
color: white;
}

//----------------------------------- *portada*--------------------//

    body {
        max-height: 100%;
        width: 100%;
        background-size: 5px;
        background-attachment: relative;
        background-color: rgb(14, 41, 51);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
        body-contacto {  
        background-image: url(/img/pexels-photo-258046.jpeg);
        background-repeat: no-repeat;
        background-size: 1530px;
        height: 850px;
        width: 1500px;
        font-family: "Noto Sans", sans-serif;
        width: 100%;
        background-color: rgba(255, 140, 0, 0);
        }
        body-bicicletas {
            background-image: url(/img/pexels-brett-sayles-1431822.jpg);
            background-repeat: no-repeat;
            background-size: 1550px;
            height: 1000px;
            width: 1500px;
            font-family: "Noto Sans", sans-serif;
            width: 100%;
            background-color: rgba(255, 140, 0, 0);
        }
        body-accesorios {
            background-image: url(/img/pexels-brett-sayles-1431822.jpg);
            background-repeat: no-repeat;
            background-size: 1500px;
            height: 1000px;
            font-family: "Noto Sans", sans-serif;
            max-width: 100%;
        }
        body-taller {
            background-image: url(/img/pexels-brett-sayles-1431822.jpg);
            background-repeat: no-repeat;
            background-size: 1530px;
            height: 850px;
            width: 1500px;
            font-family: "Noto Sans", sans-serif;
            width: 100%;
            background-color: rgba(255, 140, 0, 0);
        }


