@media only screen and (max-width: 400px) {
    /* styles for mobile. 400px; */
    .bici-titulo h1 {
      position: relative;
      margin-top: 10%;
      margin-bottom: 5%;
      text-align: center;
      font-size: 60px;
      font-weight: 10px;
      color: rgba(217, 169, 48, 0.996);
    }
    .header-form-bic {
      display: none;
    }
    .nav-div-bici {
      display: grid;
      font-weight: 2rem;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(4, 1fr);
      padding: 0, 5rem;
      gap: 26px;
      margin-top: 0px;
      margin-bottom: 40px;
      text-align: center;
      align-self: center;
    }
    .bici-contacto {
      grid-column: 1;
      grid-row: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .bici-bicicletas- {
      grid-column: 1;
      grid-row: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .bici-accesorios {
      grid-column: 1;
      grid-row: 3;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .bici-taller {
      grid-column: 1;
      grid-row: 4;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      right: 1px;
    }
    .subtitulo-bici {
      display: flex;
      justify-content: center;
      position: relative;
      top: 0px;
      right: 120px;
      text-decoration: underline;
    }
    .foto1-bici {
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      max-width: 340px;
      top: 430px;
      left: 30px;
      background-position: center;
    }
    .parrafo-img1 {
      display: flex;
      justify-content: center;
      position: relative;
      bottom: 0px;
      top: 70px;
      margin-right: 5%;
      margin-left: 5%;
      font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
      font-size: 60px;
      color: rgba(253, 252, 252, 0.315);
    }
    .foto2-bici {
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      max-width: 340px;
      top: 670px;
      left: 30px;
    }
    .parrafo-img2 {
      display: flex;
      justify-content: center;
      position: relative;
      bottom: 0px;
      top: 230px;
      margin-right: 5%;
      margin-left: 5%;
      font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
      font-size: 60px;
      color: rgba(253, 252, 252, 0.527);
    }
    .foto3-bici {
      background-position: relative;
      background-repeat: no-repeat;
      position: absolute;
      max-width: 340px;
      top: 912px;
      left: 30px;
    }
    .parrafo-img3 {
      display: flex;
      justify-content: center;
      position: relative;
      bottom: 0;
      top: 390px;
      margin-right: 5%;
      margin-left: 5%;
      font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
      font-size: 60px;
      color: rgba(253, 252, 252, 0.527);
    }
    .foto4-bici {
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      max-width: 340px;
      top: 1160px;
      left: 30px;
      background-position: center;
    }
    .parrafo-img4 {
      display: flex;
      justify-content: center;
      position: relative;
      bottom: 0;
      top: 560px;
      margin-right: 5%;
      margin-left: 5%;
      font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
      font-size: 60px;
      border-radius: 5px;
      color: rgba(253, 252, 252, 0.527);
      background-attachment: relative;
    }
    .foto5-bici {
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      max-width: 340px;
      top: 1415px;
      bottom: 10px;
      left: 30px;
      background-position: center;
    }
    .parrafo-img5 {
      display: flex;
      justify-content: center;
      position: relative;
      bottom: 0;
      top: 725px;
      margin-right: 5%;
      margin-left: 5%;
      font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
      font-size: 60px;
      color: rgba(253, 252, 252, 0.527);
      background-attachment: relative;
    }
}

@media only screen and (min-width: 1200px) {
    /* styles for browsers larger than 1200px; */
    .bici-titulo h1 {
      color: rgba(219, 171, 51, 0.996);
      font-size: 80px;
      font-weight: 30px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
    }
    .nav-div-bici {
      position: relative;
      margin-top: 0px;
      display: flex;
      gap: 60px;
      justify-content: center;
      align-items: center;
      font-size: 20px;
    }
    .bici-contacto {
      grid-column: 1;
      grid-row: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .bici-bicicletas {
      grid-column: 2;
      grid-row: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .bici-accesorios {
      grid-column: 3;
      grid-row: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .bici-taller {
      grid-column: 4;
      grid-row: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .subtitulo-bici {
      display: flex;
      justify-content: center;
      position: relative;
      top: 0px;
      right: 630px;
      text-decoration: underline;
    }
    .foto1-bici {
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      max-width: 465px;
      margin-top: 10px;
      margin-left: 40px;
      background-position: center;
    }
    .parrafo-img1 {
      display: flex;
      justify-content: center;
      position: relative;
      bottom: 0px;
      top: 100px;
      right: 480px;
      font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
      font-size: 70px;
      color: rgba(253, 252, 252, 0.392);
    }
    .foto2-bici {
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      max-width: 458px;
      margin-top: -83px;
      margin-left: 526px;
    }
    .parrafo-img2 {
      display: flex;
      justify-content: center;
      position: relative;
      top: 12px;
      left: 15px;
      font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
      font-size: 70px;
      color: rgba(253, 252, 252, 0.448);
    }
    .foto3-bici {
      background-position: relative;
      background-repeat: no-repeat;
      position: absolute;
      max-width: 450px;
      margin-top: -178px;
      left: 1005px;
    }
    .parrafo-img3 {
      display: flex;
      justify-content: center;
      position: relative;
      bottom: 85px;
      left: 480px;
      font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
      font-size: 65px;
      color: rgba(253, 252, 252, 0.448);
    }
    .foto4-bici {
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      max-width: 450px;
      margin-left: 280px;
      margin-top: 55px;
      background-position: center;
    }
    .parrafo-img4 {
      display: flex;
      justify-content: center;
      position: relative;
      top: 160px;
      right: 230px;
      font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
      font-size: 70px;
      color: rgba(253, 252, 252, 0.479);
      background-attachment: relative;
    }
    .foto5-bici {
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      max-width: 470px;
      margin-top: -40px;
      margin-bottom: 20px;
      margin-left: 750px;
      background-position: center;
    }
    .parrafo-img5 {
      display: flex;
      justify-content: center;
      position: relative;
      bottom: 0;
      top: 70px;
      left: 240px;
      font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
      font-size: 70px;
      color: rgba(253, 252, 252, 0.577);
      background-attachment: relative;
    }
  }
  /* Fin de seccion escritorio */
  /* -------------------------------------------------------------------------------Contacto--------------------------------------------------------------------------- */
