@media only screen and (min-width: 320px) and (max-width: 650px){
    /* styles for mobile.*/
    .titulo-compras{
        position: relative;
        margin-top: 10%;
        margin-bottom: 5%;
        text-align: center;
        font-size: 30px;
        font-weight: 30px;
        color: rgba(217, 169, 48, 0.996);
}
    .nav-div-compras {
        display: grid;
        font-weight: 2rem;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        padding: 0, 5rem;
        gap: 26px;
        margin-top: 0px;
        margin-bottom: 40px;
        text-align: center;
        align-self: center;
    }
    .contacto-compras {
        grid-column: 1;
        grid-row: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .bicicletas-compras {
        grid-column: 1;
        grid-row: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .accesorios-compras {
        grid-column: 1;
        grid-row: 3;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .taller-compras {
        grid-column: 1;
        grid-row: 4;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
/*Fin de secciòn mobile*/

@media only screen and (min-width: 650px) and (max-width: 1992px) {
    /* styles for browsers tablet.*/
    .titulo-compras {
    color: rgba(219, 171, 51, 0.996);
    font-size: 70px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
    .nav-div-compras {
    position: relative;
    margin-top: 0%;
    margin-left: 0%;
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    }
    .contacto-compras {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    }
    .bicicletas-compras{
    grid-column: 1;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    }
    .accesorios-compras {
    grid-column: 1;
    grid-row: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    }
    .taller-compras {
    grid-column: 1;
    grid-row: 4;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    }
}
    /*Fin de secciòn tablet*/

@media only screen and (min-width: 1119px) {
    /* styles for browsers larger */
    .titulo-compras {
    color: rgba(219, 171, 51, 0.996);
    font-size: 80px;
    font-weight: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    }
    .nav-div-compras {
    position: relative;
    margin-top: 0px;
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    }
    .contacto-compras {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    }
    .bicicletas-compras {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    }
    .accesorios-compras{
    grid-column: 1;
    grid-row: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    }
    .taller-compras {
    grid-column: 1;
    grid-row: 4;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    }
.fondo-compras{
    display: flex;
    justify-content: center;
    align-self: center;
}
/*Fin de sección escritorio*/
}