@media only screen and (max-width: 400px) {
    /* styles for mobile. 400px; */
    .titulo-contacto h1 {
      position: relative;
      margin-top: 10%;
      margin-bottom: 5%;
      text-align: center;
      font-size: 60px;
      font-weight: 10px;
      color: rgba(217, 169, 48, 0.996);
    }
    .nav-div-contacto {
      display: grid;
      font-weight: 2rem;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(4, 1fr);
      padding: 0, 5rem;
      gap: 15px;
      margin-top: 0px;
      margin-bottom: 0px;
      text-align: center;
      align-self: center;
    }
    .c-contacto {
      grid-column: 1;
      grid-row: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .contacto-bicicletas {
      grid-column: 1;
      grid-row: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .contacto-accesorios {
      grid-column: 1;
      grid-row: 3;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .contacto-tallerr {
      grid-column: 1;
      grid-row: 4;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      right: 5px;
    }
    .seccion-contacto {
      margin-left: 45px;
      margin-top: 40px;
      font-family:'Times New Roman', Times, serif;
      font-size: 15px;
      text-decoration: underline;
      }

    .texto-mensaje {
      font-family: 'Times New Roman', Times, serif;
      background-color: #ffffff5c;
      width: 288px;
      height: 150px;
      margin-bottom: 20px;
      border-radius: 5px;
      border-style: solid;
      border-width: 1px;
      border-color: darkorange;
      margin-top: 10px;
      padding-left: 0px;
    }
  
    label-contacto {
      display: block;
      float: center;
      font-size: 18px;
    }
  
    .boton-contacto {
      height: 25px;
      padding-left: 5px;
      padding-right: 5px;
      padding-top: 0px;
      margin-bottom: 100px;
      margin-top: 10px;
      margin-left: 40px;
      text-transform: uppercase;
      background-color: rgb(81, 80, 80);
      border-style: solid;
      border-radius: 5px;
      width: 120px;
      cursor: pointer;
    }
  
    .obligatorio-contacto {
      color: rgb(253, 139, 0);
    }

    p-contacto {
      font-size: 14px;
      color: #fffcfc;
    }

    .imput-contacto {
      color: #5f5f5f95;
      font-size: 19px;
      font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    .aviso-contacto {
      font-size: 10px;
      margin-top: 20px;
      color: #989898;
    }

    form {
      margin-left: 60px;
      font-size: 18px;
    }
  }
  /* Fin de seccion mobile */
  /* -----------------------------------------------------------------------------Inicio seccion escritorio----------------------------------------------------------------- */
  @media only screen and (min-width: 1200px) {
    /* styles for browsers larger than 1200px; */
    .titulo-contacto h1 {
      position: relative;
      top: 20px;
      bottom: 0px;
      text-align: center;
      font-size: 80px;
      font-weight: 10px;
      color: rgba(217, 169, 48, 0.996);
    }
    .nav-div-contacto {
      position: relative;
      margin-top: 30px;
      display: flex;
      gap: 60px;
      justify-content: center;
      align-items: center;
      font-size: 20px;
    }
    .c-contacto {
      grid-column: 1;
      grid-row: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .contacto-bicicletas {
      grid-column: 1;
      grid-row: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .contacto-accesorios {
      grid-column: 1;
      grid-row: 3;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .contacto-tallerr {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      right: 3px;
    }
    .seccion-contacto {
    margin-left: 615px;
    margin-top: 40px;
    font-family:'Times New Roman', Times, serif;
    font-size: 18px;
    text-decoration: underline;
    }
    .input-contacto {
      width: 300px;
      height: 40px;
      border-radius: 5px;
      border-style: solid;
      border-color: rgb(0, 0, 0);
      margin-top: 10px;
      padding-left: 60px;
      margin-bottom: 30px;
      color: #000000;
      display: grid;
      grid-template-columns: (1 1fr);
      grid-template-rows: 2 2fr;
    }
    .texto-mensaje {
      background-color: #ffffff5c;
      width: 305px;
      height: 150px;
      right: 50px;
      border-radius: 5px;
      border-style: solid;
      border-width: 1px;
      border-color: darkorange;
      margin-top: 0px;
      padding-left: 0px;
      margin-bottom: 60px;
      padding-top: 0px;
      padding-bottom: 30px;
    }
    .imput-mensaje {
      margin-right: 100px;
    }
    form {
    margin-left: 680px;
    }
    label-contacto {
      display: block;
      float: center;
    }
    .boton-contacto {
      height: 25px;
      padding-left: 5px;
      padding-right: 5px;
      padding-top: 0px;
      margin-top: 10px;
      margin-right: 10px;
      margin-left: -280px;
      text-transform: uppercase;
      background-color: rgb(118, 118, 118);
      border-color: darkorange;
      border-style: solid;
      border-radius: 5px;
      width: 120px;
      cursor: pointer;
    }
    .obligatorio-contacto {
      color: rgb(253, 139, 0);
    }

    p-contacto {
      font-size: 14px;
      color: #fffcfc;
    }

    .imput-contacto {
      color: #5f5f5f95;
      font-size: 19px;
      font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    .aviso-contacto {
      font-size: 10px;
      margin-top: 20px;
      color: #989898;
    }

    form {
      margin-left: 620px;
      font-size: 18px;
    }
  }
  /* Fin de secion escritorio */
