@media only screen and (min-width: 320px) and (max-width: 650px) {
  /* styles for mobile.*/
  .titulo-contacto h1 {
    position: relative;
    margin-top: 10%;
    margin-bottom: 5%;
    text-align: center;
    font-size: 50px;
    font-weight: 30px;
    color: rgba(217, 169, 48, 0.996);
  }
  .nav-div-contacto {
    display: grid;
    font-weight: 2rem;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    padding: 0, 5rem;
    gap: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    align-self: center;
  }
  .c-contacto {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .contacto-bicicletas {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .contacto-accesorios {
    grid-column: 1;
    grid-row: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .contacto-tallerr {
    grid-column: 1;
    grid-row: 4;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    right: 5px;
  }
  .seccion-contacto {
    font-family: Georgia, "Times New Roman", Times, serif;
    box-sizing: border-box;
    text-decoration: underline;
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;
    margin-left: 20px;
    margin-top: 40px;
    font-size: 20px;
  }
  .textarea-contacto {
    font-family: "Times New Roman", Times, serif;
    background-color: #ffffff5c;
    width: 280px;
    height: 200px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: darkorange;
    margin-top: 10px;
  }
  .label-contacto {
    display: flex;
    float: center;
    font-size: 25px;
  }
  .boton-contacto {
    height: 25px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    margin-bottom: 100px;
    margin-top: 10px;
    margin-left: 80px;
    text-transform: uppercase;
    background-color: rgb(81, 80, 80);
    border-style: solid;
    border-radius: 5px;
    width: 120px;
    cursor: pointer;
  }
  .formulario {
    display: block;
    justify-content: center;
    position: relative;
    font-size: 14px;
    color: #fffcfc;
    margin-left: 30px;
  }
  .obligatorio-contacto {
    color: rgb(253, 139, 0);
  }
}
.contacto-obligatorio {
  display: flex;
  margin-top: -80px;
  color: grey;
  font-size: 15px;
}

/* Fin de seccion mobile */

/*------------------------------------------------------------------------------Inicio seccion tablet---------------------------------------------------------------------*/
@media only screen and (min-width: 650px) and (max-width: 1999px) {
  /* styles for browsers tablet.*/

  .titulo-contacto h1 {
    position: relative;
    top: 10px;
    bottom: 0px;
    text-align: center;
    font-size: 80px;
    font-weight: 10px;
    color: rgba(217, 169, 48, 0.996);
  }
  .nav-div-contacto {
    position: relative;
    margin-top: 20px;
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }
  .c-contacto {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .contacto-bicicletas {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .contacto-accesorios {
    grid-column: 1;
    grid-row: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .contacto-tallerr {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    right: 3px;
  }
  .seccion-contacto {
    font-family: Georgia, "Times New Roman", Times, serif;
    box-sizing: border-box;
    text-decoration: underline;
    margin-left: 210px;
    margin-top: 40px;
    font-size: 20px;
  }
  .texto-mensaje {
    font-family: "Times New Roman", Times, serif;
    background-color: #ffffff5c;
    width: 0px;
    height: 130px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: darkorange;
    margin-top: 10px;
  }
  .label-contacto {
    display: block;
    float: center;
    font-size: 25px;
  }
  .boton-contacto {
    height: 25px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    margin-bottom: 100px;
    margin-top: 10px;
    margin-left: 80px;
    text-transform: uppercase;
    background-color: rgb(81, 80, 80);
    border-style: solid;
    border-radius: 5px;
    width: 120px;
    cursor: pointer;
  }
  .textarea-contacto {
    font-family: "Times New Roman", Times, serif;
    background-color: #ffffff5c;
    width: 300px;
    height: 200px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: darkorange;
    margin-top: 10px;
  }
  .formulario {
    display: block;
    justify-content: center;
    position: relative;
    font-size: 14px;
    color: #fffcfc;
    margin-left: 15px;
  }
  .obligatorio-contacto {
    color: rgb(253, 139, 0);
  }
  .aviso-contacto {
    font-size: 10px;
    margin-top: 20px;
    color: #989898;
  }
}

/*fin seccion tablet*/

@media only screen and (min-width: 1200px) {
  /* styles for browsers larger*/
  .titulo-contacto h1 {
    position: relative;
    top: 20px;
    bottom: 0px;
    text-align: center;
    font-size: 80px;
    font-weight: 10px;
    color: rgba(217, 169, 48, 0.996);
  }
  .nav-div-contacto {
    position: relative;
    margin-top: 20px;
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }
  .c-contacto {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .contacto-bicicletas {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .contacto-accesorios {
    grid-column: 1;
    grid-row: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .contacto-tallerr {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    right: 3px;
  }
  .seccion-contacto {
    font-family: Georgia, "Times New Roman", Times, serif;
    box-sizing: border-box;
    text-decoration: underline;
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;
    margin-left: 20px;
    margin-top: 40px;
    font-size: 20px;
  }
  .texto-mensaje {
    font-family: "Times New Roman", Times, serif;
    background-color: #ffffff5c;
    width: 300px;
    height: 200px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: darkorange;
    margin-top: 10px;
  }
  .label-contacto {
    display: block;
    position: relative;
    font-size: 25px;
  }
  .boton-contacto {
    height: 25px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    margin-bottom: 100px;
    margin-top: 10px;
    margin-left: 80px;
    text-transform: uppercase;
    background-color: rgb(81, 80, 80);
    border-style: solid;
    border-radius: 5px;
    width: 120px;
    cursor: pointer;
  }
  .textarea-contacto {
    font-family: "Times New Roman", Times, serif;
    background-color: #ffffff5c;
    width: 300px;
    height: 200px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: darkorange;
    margin-top: 10px;
  }
  .formulario-contacto {
    display: block;
    justify-content: center;
    position: relative;
    font-size: 14px;
    color: #fffcfc;
    margin-left: 15px;
  }
  .obligatorio-contacto {
    color: rgb(253, 139, 0);
  }
  .aviso-contacto {
    font-size: 10px;
    margin-top: 20px;
    color: #989898;
  }
  .contacto-obligatorio {
    display: flex;
    margin-top: -80px;
    color: grey;
    font-size: 15px;
  }
}
/* Fin de secion escritorio */
