@media only screen and (max-width: 400px) {
    /* styles for mobile. 400px; */
    .titulo-taller h1 {
      position: relative;
      margin-top: 10%;
      margin-bottom: 2%;
      text-align: center;
      font-size: 60px;
      font-weight: 10px;
      color: rgba(217, 169, 48, 0.996);
    }
    .nav-div-taller {
      display: grid;
      font-weight: 2rem;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(4, 1fr);
      padding: 0, 5rem;
      gap: 16px;
      margin-top: 0px;
      text-align: center;
      align-self: center;
    }
    .contacto-taller {
      grid-column: 1;
      grid-row: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .bicicletas-taller {
      grid-column: 1;
      grid-row: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .accesorios-taller {
      grid-column: 1;
      grid-row: 3;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .taller-taller {
      grid-column: 1;
      grid-row: 4;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      right: 2px;
    }
    .subtitulo-taller h2 {
      display: flex;
      justify-content: center;
      position: relative;
      top: 20px;
      right: 120px;
      font-size: 20px;
      text-decoration: underline;
    }
    .subtitulo-taller h3 {
      display: flex;
      justify-content: center;
      position: relative;
      top: 20px;
      right: 0px;
      font-size: 20px;
      font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
      background-color: rgba(86, 86, 86, 0.44);
    }

    .imagen1-t img {
      display: flex;
      justify-content: center;
      background-repeat: no-repeat;
      background-image: 200px;
    }

    .imagen2-t {
      display: flex;
      justify-content: center;
      background-repeat: no-repeat;
      width: 300px;
      margin-top: -431px;
      margin-left: 550px;
    }

    .imagen3-t  {
      display: flex;
      justify-content: center;
      background-repeat: no-repeat;
      max-width: 400px;
      height: 200px;
      margin-top: -428px;
      margin-left: 1050px;
    }
    .arreglos {
      font-family: Georgia, "Times New Roman", Times, serif;
      margin-top: 30px;
    }
    .seccion-contacto-2 h5 {
      display: flex;
      justify-content: center;
      position: relative;
      top: 0px;
      right: 0px;
      font-size: 18px;
      font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
      background-color: rgba(86, 86, 86, 0.996);
    }
    .colocar-nombre-t {
      position: relative;
      flex-direction: row;
      margin-top: 10px;
      font-size: 20px;
      font-weight: 2px;
      margin-left: 35px;
    }
    .imput-contacto-1 {
      text-shadow: none;
      display: inline-block;
      text-align: start;
      color: rgba(113, 113, 113, 0.741);
      font-size: 15px;
      font-weight: 3px;
      cursor: text;
      padding: 1px 2px;
      border-width: 2px;
      border-color: rgb(99, 97, 97), rgb(116, 115, 115);
    }
    .colocar-email-t {
      position: relative;
      display: flex;
      justify-content: start;
      margin-top: 10px;
      font-size: 20px;
      font-weight: 2px;
      margin-left: 55px;
    }
    .imput-contacto-2 {
      text-shadow: none;
      display: inline-block;
      text-align: start;
      color: rgba(119, 116, 116, 0.741);
      font-size: 15px;
      font-weight: 3px;
      cursor: text;
      margin-left: 6px;
      padding: 1px 2px;
      border-width: 2px;
      border-color: rgb(99, 97, 97), rgb(116, 115, 115);
    }
    .colocar-telefono-t {
      position: relative;
      flex-direction: row;
      margin-top: 8px;
      font-size: 19px;
      margin-left: 31px;
    }
    .imput-contacto-3 {
      text-shadow: none;
      display: inline-block;
      text-align: start;
      color: rgba(119, 116, 116, 0.741);
      font-size: 15px;
      font-weight: 1px;
      cursor: text;
      margin-left: 2px;
      padding: 1px 2px;
      border-width: 2px;
      border-color: rgb(99, 97, 97), rgb(116, 115, 115);
    }
    .colocar-mensaje-t {
      position: relative;
      flex-direction: row;
      bottom: 80px;
      font-size: 19px;
      margin-left: 31px;
    }
    .textarea {
      text-shadow: none;
      display: inline-block;
      text-align: start;
      color: rgba(119, 116, 116, 0.741);
      font-size: 15px;
      font-weight: 1px;
      cursor: text;
      margin-left: 2px;
      padding: 1px 2px;
      border-width: 2px;
      border-color: rgb(99, 97, 97), rgb(116, 115, 115);
    }
    .boton-contacto-t {
      position: relative;
      flex-direction: row;
      margin-top: 0px;
      font-size: 20px;
      margin-left: 180px;
    }
  }

  @media only screen and (min-width: 1200px) {
    /* styles for browsers larger than 1200px; */
    .titulo-taller h1 {
      position: relative;
      margin-top: 20px;
      margin-bottom: 2%;
      text-align: center;
      font-size: 80px;
      font-weight: 10px;
      color: rgba(217, 169, 48, 0.996);
    }
    .nav-div-taller {
      position: relative;
      margin-top: 0px;
      display: flex;
      gap: 60px;
      bottom: 20px;
      justify-content: center;
      align-items: center;
      font-size: 20px;
    }
    .contacto-taller {
      grid-column: 1;
      grid-row: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .bicicletas-taller {
      grid-column: 1;
      grid-row: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .accesorios-taller {
      grid-column: 1;
      grid-row: 3;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .taller-taller {
      grid-column: 1;
      grid-row: 4;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      right: 2px;
    }
    .subtitulo-taller h2 {
      display: flex;
      justify-content: center;
      position: relative;
      top: 15px;
      right: 650px;
      font-size: 22px;
      text-decoration: underline;
    }
    .subtitulo-taller h3 {
      display: flex;
      justify-content: center;
      position: relative;
      top: 10px;
      right: 0px;
      font-size: 30px;
      font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
      background-color: rgba(86, 86, 86, 0.44);
    }

    .imagen1-t {
      display: flex;
      justify-content: center;
      background-repeat: no-repeat;
      width: 540px;
    }

    .imagen2-t {
      display: flex;
      justify-content: center;
      background-repeat: no-repeat;
      width: 500px;
      margin-top: -370px;
      margin-left: 540px;
    }

    .imagen3-t  {
      display: flex;
      justify-content: center;
      background-repeat: no-repeat;
      width: 592px;
      margin-top: -370px;
      margin-left: 1030px;
    }

    .arreglos {
      display: flex;
      gap: 50px;
      font-size: 20px;
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      background-color: rgba(0, 14, 166, 0.274);
      padding-top: 10px;
      padding-left: 15px;
      margin-left: 0px;
      margin-top: -10px;
      margin-bottom: 0px;
    }
    .seccion-contacto-2 h5 {
      display: flex;
      justify-content: center;
      position: relative;
      top: 15px;
      right: 0px;
      font-size: 20px;
      text-decoration:underline;
      font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    }

    form-taller {
    display: block;
    margin-top: 30px;
    margin-left: 650px;
    font-size: 18px;
    }

  .obligatorio-taller {
    color: rgb(253, 139, 0);
  }

  p-taller {
    font-size: 20px;
    color: #fffcfc;
  }

  label-taller {
    font-size: 25px;
    display: block;
  }

  .imput-taller {
    color: #5f5f5f95;
    font-size: 19px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  .aviso-taller {
    font-size: 10px;
    margin-top: 20px;
    color: #989898;
  }

  .boton-taller {
    height: 25px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    margin-top: 10px;
    text-transform: uppercase;
    background-color: rgb(118, 118, 118);
    border-color: darkorange;
    border-style: solid;
    border-radius: 5px;
    width: 120px;
    cursor: pointer;
    }
  }
/* Fin de secion escritorio */
