@media only screen and (min-width: 320px) and (max-width: 650px) {
  /* styles for mobile.*/
  .bici-titulo h1 {
    position: relative;
    margin-top: 10%;
    margin-bottom: 5%;
    text-align: center;
    font-size: 50px;
    font-weight: 30px;
    color: rgba(217, 169, 48, 0.996);
  }
  .header-form-bic {
    display: none;
  }
  .nav-div-bici {
    display: grid;
    font-weight: 2rem;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    padding: 0, 5rem;
    gap: 26px;
    margin-top: 0px;
    margin-bottom: 40px;
    text-align: center;
    align-self: center;
  }
  .bici-contacto {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .bici-bicicletas- {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .bici-accesorios {
    grid-column: 1;
    grid-row: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .bici-taller {
    grid-column: 1;
    grid-row: 4;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .subtitulo-bici {
    display: block;
    justify-content: center;
    position: relative;
    margin-top: 10px;
    margin-bottom: 0%;
    left: 20px;
    text-decoration: underline;
    font-size: 18px;
  }
  .foto1-bici {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin-top: 10px;
    margin-bottom: 0%;
    padding-left: 5%;
    padding-right: 5%;
    background-repeat: no-repeat;
    background-attachment: relative;
    max-width: 100%;
  }
  .parrafo-img1 {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: -130px;
    margin-bottom: 0%;
    margin-right: 5%;
    margin-left: 5%;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 60px;
    color: rgba(253, 252, 252, 0.56);
    max-width: 100%;
  }
  .foto2-bici {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin-top: 90px;
    margin-bottom: 0%;
    padding-left: 5%;
    padding-right: 5%;
    background-repeat: no-repeat;
    background-attachment: relative;
    max-width: 100%;
  }
  .parrafo-img2 {
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 0%;
    margin-top: -130px;
    margin-right: 5%;
    margin-left: 5%;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 60px;
    color: rgba(253, 252, 252, 0.527);
    max-width: 100%;
  }
  .foto3-bici {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin-top: 90px;
    margin-bottom: 0%;
    padding-left: 5%;
    padding-right: 5%;
    background-repeat: no-repeat;
    background-attachment: relative;
    max-width: 100%;
  }
  .parrafo-img3 {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: -130px;
    margin-bottom: 0%;
    margin-right: 5%;
    margin-left: 5%;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 60px;
    color: rgba(253, 252, 252, 0.527);
  }
  .foto4-bici {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin-top: 90px;
    margin-bottom: 0%;
    padding-left: 5%;
    padding-right: 5%;
    background-repeat: no-repeat;
    background-attachment: relative;
    max-width: 100%;
  }
  .parrafo-img4 {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: -130px;
    margin-bottom: 0;
    margin-right: 5%;
    margin-left: 5%;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 60px;
    border-radius: 5px;
    color: rgba(253, 252, 252, 0.549);
    background-attachment: relative;
  }
  .foto5-bici {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin-top: 90px;
    margin-bottom: 0%;
    padding-left: 5%;
    padding-right: 5%;
    background-repeat: no-repeat;
    background-attachment: relative;
    max-width: 100%;
  }
  .parrafo-img5 {
    display: flex;
    justify-content: center;
    position: relative;
    top: -140px;
    margin-bottom: 0%;
    margin-left: 10px;
    margin-right: 0%;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 60px;
    color: rgba(253, 252, 252, 0.527);
    background-attachment: relative;
    max-width: 100%;
  }
  .foto6-bici {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin-top: -45px;
    margin-bottom: 0%;
    padding-left: 5%;
    padding-right: 5%;
    background-repeat: no-repeat;
    background-attachment: relative;
    max-width: 100%;
  }
  .parrafo-img6 {
    display: flex;
    justify-content: center;
    position: relative;
    top: -150px;
    margin-bottom: 0%;
    margin-left: 10px;
    margin-right: 0%;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 60px;
    color: rgba(253, 252, 252, 0.704);
    background-attachment: relative;
    max-width: 100%;
  }
}
/*Fin de secciòn mobile*/

@media only screen and (min-width: 650px) and (max-width: 1199px) {
  /* styles for browsers tablet.*/
  .bici-titulo h1 {
    color: rgba(219, 171, 51, 0.996);
    font-size: 70px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  .header-form-bic {
    display: none;
  }
  .nav-div-bici {
    position: relative;
    margin-top: 0%;
    margin-left: 0%;
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }
  .bici-contacto {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .bici-bicicletas- {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .bici-accesorios {
    grid-column: 1;
    grid-row: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .bici-taller {
    grid-column: 1;
    grid-row: 4;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .subtitulo-bici {
    display: block;
    justify-content: center;
    position: relative;
    margin-top: 10px;
    margin-bottom: 0%;
    left: 20px;
    text-decoration: underline;
    font-size: 18px;
  }
  .contenedor-img-bici {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(2, 300px);
    gap: 20px;
  }
  .grid-compras {
    display: grid;
    justify-content: center;
    text-align: center;
    gap: 20px;
    font-size: 20px;
  }
  .foto1-bici {
    background-repeat: no-repeat;
    background-attachment: relative;
    margin-top: 20px;
    margin-bottom: 0%;
    width: 100%;
  }
  .parrafo-img1 {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: -140px;
    margin-bottom: 0%;
    margin-right: 5px;
    margin-left: 5%;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 60px;
    color: rgba(253, 252, 252, 0.56);
    max-width: 100%;
  }
  .foto2-bici {
    background-repeat: no-repeat;
    background-attachment: relative;
    margin-top: 20px;
    margin-bottom: 0%;
    width: 100%;
  }
  .parrafo-img2 {
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 0%;
    margin-top: -135px;
    margin-right: 5%;
    margin-left: 5%;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 60px;
    color: rgba(253, 252, 252, 0.527);
    width: 100%;
  }
  .foto3-bici {
    background-repeat: no-repeat;
    background-attachment: relative;
    margin-top: 50px;
    margin-bottom: 0%;
    height: 198px;
    max-width: 100%;
  }
  .parrafo-img3 {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: -140px;
    margin-bottom: 0%;
    margin-right: 5%;
    margin-left: 5%;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 60px;
    color: rgba(253, 252, 252, 0.527);
  }
  .foto4-bici {
    background-repeat: no-repeat;
    background-attachment: relative;
    margin-top: 50px;
    margin-bottom: 0%;
    width: 100%;
  }
  .parrafo-img4 {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: -145px;
    margin-bottom: 0;
    margin-right: 5%;
    margin-left: 5%;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 65px;
    border-radius: 5px;
    color: rgba(253, 252, 252, 0.549);
    background-attachment: relative;
  }
  .foto5-bici {
    background-repeat: no-repeat;
    background-attachment: relative;
    margin-top: 50px;
    margin-bottom: 0%;
    width: 100%;
  }
  .parrafo-img5 {
    display: flex;
    justify-content: center;
    position: relative;
    top: -140px;
    margin-bottom: 0%;
    margin-left: 10px;
    margin-right: 0%;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 60px;
    color: rgba(253, 252, 252, 0.527);
    background-attachment: relative;
    max-width: 100%;
  }
  .foto6-bici {
    background-repeat: no-repeat;
    background-attachment: relative;
    margin-top: 50px;
    margin-bottom: 0%;
    width: 100%;
    height: 193px;
  }
  .parrafo-img6 {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: -150px;
    margin-bottom: 0%;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 70px;
    color: rgba(253, 252, 252, 0.83);
    background-attachment: relative;
    max-width: 100%;
  }
}
/*Fin de secciòn tablet*/

@media only screen and (min-width: 1200px) {
  /* styles for browsers larger*/
  .bici-titulo h1 {
    color: rgba(219, 171, 51, 0.996);
    font-size: 80px;
    font-weight: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 0%;
  }
  .header-form-bic {
    display: none;
  }
  .nav-div-bici {
    position: relative;
    margin-top: 0px;
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }
  .bici-contacto {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .bici-bicicletas- {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .bici-accesorios {
    grid-column: 1;
    grid-row: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .bici-taller {
    grid-column: 1;
    grid-row: 4;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .subtitulo-bici {
    display: block;
    justify-content: center;
    position: relative;
    margin-top: 20px;
    margin-bottom: 0%;
    left: 20px;
    text-decoration: underline;
    font-size: 18px;
  }
  .contenedor-img-bici {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(3, 340px);
    gap: 60px;
  }
  .grid-compras {
    display: grid;
    justify-content: center;
    text-align: center;
    gap: 60px;
    font-size: 30px;
  }
  .foto1-bici {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 70px;
    margin-top: 20px;
    margin-bottom: 0%;
    color: rgba(253, 252, 252, 0.56);
    height: 254px;
    max-width: 100%;
  }
  .parrafo-img1 {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 70px;
    margin-top: -180px;
    margin-right: 5px;
    margin-left: 0%;
    margin-bottom: 0%;
    color: rgba(253, 252, 252, 0.56);
    max-width: 100%;
  }
  .foto2-bici {
    display: flex;
    justify-content: center;
    position: relative;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 70px;
    margin-top: 20px;
    margin-bottom: 0%;
    color: rgba(253, 252, 252, 0.527);
    height: 254px;
    width: 100%;
  }
  .parrafo-img2 {
    display: flex;
    justify-content: center;
    position: relative;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 70px;
    margin-top: -170px;
    margin-bottom: 0%;
    color: rgba(253, 252, 252, 0.527);
    width: 100%;
  }
  .foto3-bici {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: relative;
    margin-top: 20px;
    width: 100%;
    height: 255px;
  }
  .parrafo-img3 {
    display: flex;
    justify-content: center;
    position: relative;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 70px;
    margin-top: -165px;
    margin-bottom: 0%;
    margin-left: 10px;
    margin-right: 0%;
    color: rgba(253, 252, 252, 0.527);
  }
  .foto4-bici {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: relative;
    margin-top: 30px;
    margin-bottom: 0%;
    height: 265px;
    width: 100%;
  }
  .parrafo-img4 {
    display: flex;
    justify-content: center;
    position: relative;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 70px;
    margin-top: -190px;
    margin-bottom: 0%;
    border-radius: 5px;
    color: rgba(253, 252, 252, 0.549);
    background-attachment: relative;
  }
  .foto5-bici {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: relative;
    margin-top: 30px;
    margin-bottom: 0%;
    height: 266px;
    width: 100%;
  }
  .parrafo-img5 {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: -185px;
    margin-bottom: 0%;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 70px;
    color: rgba(253, 252, 252, 0.527);
    background-attachment: relative;
    max-width: 100%;
  }
  .foto6-bici {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: relative;
    margin-top: 30px;
    margin-bottom: 0%;
    width: 100%;
    height: 266px;
  }
  .parrafo-img6 {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: -190px;
    margin-bottom: 0%;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 70px;
    color: rgba(253, 252, 252, 0.533);
    background-attachment: relative;
    max-width: 100%;
  }
  /* Fin de seccion escritorio */
}
