@media only screen and (min-width: 320px) and (max-width:650px){
    /* styles for mobile.*/
    .titulo h1 {
      color: rgba(217, 169, 48, 0.996);
      position: relative;
      margin-top: 10%;
      margin-bottom: 5%;
      text-align: center;
      font-size: 50px;
      font-weight: 30px;
    }
    .header-form {
      display: none;
    }
    .nav-div {
      display: grid;
      font-weight: 2rem;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(4, 1fr);
      padding: 0, 5rem;
      gap: 10%;
      text-align: center;
      align-self: center;
    }
    .contacto {
      grid-column: 1;
      grid-row: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .bicicletas {
      grid-column: 1;
      grid-row: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .accesorios {
      grid-column: 1;
      grid-row: 3;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .taller {
      grid-column: 1;
      grid-row: 4;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      right: 3px;
    }
    .novedades {
      display: flex;
      justify-content: center;
      position: relative;
      text-align: center;
      margin-top: 15%;
      margin-bottom: 0%;
      border: 30%;
      font-size: 40px;
      border-style: ridge;
      color: rgba(217, 169, 48, 0.996);
      background-color: rgba(112, 107, 107, 0.2588235294);
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
      text-transform: uppercase;
      transition-property:all;
      transition-duration: 10s;
      transition-timing-function: ease-out;
    }
    .video-1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      overflow: hidden;
      position: relative;
    }
    .texto-secundario {
      background-color: rgba(78, 65, 65, 0.227);
      font-family: Georgia, "Times New Roman", Times, serif;
      display: inline-block;
      justify-content: center;
      text-align: center;
      font-size: 25px;
      margin-top: 20px;
      margin-bottom: 0%;
      width: 100%;
    }
    .form-label {
      display:inline-block;
      justify-content: center;
      position: relative;
      margin-top: 23px;
      margin-bottom: 0%;
      font-size: 20px;
      border-radius: 4%;
      margin-left: 0px;
      width: 100%;
    }
    .form-control {
      display: inline-block;
      justify-content: center;
      align-self: center;
      position:relative;
      font-size: 20px;
      margin-left: 2%;
      margin-top: 0px;
      width: 80%;
    }
    .articulo img {
      max-width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-position: relative;
      background-repeat: no-repeat;
      background-attachment: relative;
      margin-top: 10px;
      margin-bottom: 0%;
    }
    .parrafo-foto {
      display: flex;
      justify-content: center;
      position: relative;
      text-align: center;
      padding-top: 10px;
      padding-bottom: 5px;
      bottom: 2px;
      background-color: rgba(38, 20, 78, 0.647);
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
      font-size: 18px;
    }
    .card-text {
      display: flex;
      justify-content:center;
      position: relative;
      text-align: center;
      margin-top: -30px;
      margin-bottom: 0%;
      font-size: 18px;
      background-color: black;
      padding-top: 100px;
      padding-bottom: 140px;
      max-width: 100%;
    }
    .card-icon {
      display: block;
      justify-content: center;
      position: relative;
      align-self: center ;
      height: 90px;
      max-width: 100px;
      margin-top: -140px;
      margin-bottom: 0%;
      margin-left: 25px;
      align-items: center;
      font-family: Georgia, "Times New Roman", Times, serif;
      font-size: 70px;
    }
    .contenedor-accesorios {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      margin-top: 80px;
      margin-bottom: 0%;
      padding-left: 5%;
      padding-right: 5%;
      background-repeat: no-repeat;
      background-attachment: relative;
    }
    .parrafo-foto-P2 {
      display: block;
      justify-content:center;
      position: relative;
      align-self: center;
      margin-top: -200px;
      margin-bottom: 0%;
      margin-right: 40%;
      margin-left: 5%;
      font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
      font-size: 30px;
      max-width: 800;
      color: rgba(255, 255, 255, 0.856);
      border-radius: 30px;
      background-color: rgba(205, 68, 18, 0.196);
      max-width: 100%;
    }
    .contenedor-taller {
      display: flex;
      flex-direction:column-reverse;
      justify-content: center;
      position: relative;
      margin-top: 120px;
      margin-bottom: 0%;
      padding-left: 5%;
      padding-right: 5%;
      width: 100%;
    }

    .parrafo-foto-P3 {
      display: flex;
      justify-content: center;
      position: relative;
      align-self: center;
      margin-top: -120px;
      margin-bottom: 0%;
      margin-right: 40%;
      margin-left: 15%;
      font-family:Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
      font-size: 30px;
      font-weight: 500;
      border-radius: 10px;
      padding-right: 30px;
      padding-left: 30px;
      background-color: rgba(210, 66, 14, 0.273);
      color: rgba(253, 252, 252, 0.756);
    }
    .modelos {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      position: relative;
      margin-top: 45px;
      margin-bottom: 0%;
      padding-left: 5%;
      padding-right: 5%;
    }
    .parrafo-foto-P4 {
      display:flex;
      justify-content: center;
      position:relative;
      align-self: center;
      margin-top: -70px;
      font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
      font-size: 30px;
      font-weight: 500;
      border-radius: 5px;
      padding-right: 20px;
      padding-left: 20px;
      background-color: rgba(235, 71, 11, 0.371);
      color: rgba(253, 252, 252, 0.756);
    }
    .bi-telefono {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      position: relative;
      margin-top: 30px;
      margin-bottom: 0%;
      padding-left: 5%;
      padding-right: 5%;
      max-width: 100%;
    }
}
/*Fin sección mobile*/

@media only screen and (min-width: 650px) and (max-width:1992px) {
  /* styles for browsers tablet.*/
  .titulo h1 {
    color: rgba(219, 171, 51, 0.996);
    font-size: 70px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }
  .header-form {
    display: flex;
    justify-content: center;
    align-self: center;
    visibility: visible;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
    position: relative;
    margin-left: 100px;
    margin-right: 80px;
  }
  .nav-div {
    position: relative;
    margin-top: 0%;
    margin-left: 0%;
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }
  .contacto {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .bicicletas {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .accesorios {
    grid-column: 3;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .taller {
    grid-column: 4;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .novedades {
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 0%;
    border: 30%;
    font-size: 50px;
    border-style: ridge;
    color: rgba(217, 169, 48, 0.996);
    background-color: rgba(112, 107, 107, 0.2588235294);
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    text-transform: uppercase;
    transition-property:all;
    transition-duration: 10s;
    transition-timing-function: ease-out;
  }
  .video-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    position: relative;
  }
  .texto-secundario {
    background-color: rgba(78, 65, 65, 0.227);
    font-family: Georgia, "Times New Roman", Times, serif;
    display: inline-block;
    justify-content: center;
    text-align: center;
    font-size: 35px;
    margin-top: 20px;
    margin-bottom: 0%;
    width: 100%;
  }
  .form-control {
    display: inline-block;
    justify-content: center;
    align-self: center;
    position:relative;
    font-size: 20px;
    margin-left: 1%;
    margin-top: 0px;
    width: 85%;
  }
  .articulo img {
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-position: relative;
    background-repeat: no-repeat;
    background-attachment: relative;
    margin-top: 10px;
    margin-bottom: 0%;
  }
  .parrafo-foto {
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
    bottom: 2px;
    background-color: rgba(38, 20, 78, 0.647);
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 30px;
  }
  .card-text {
    display: flex;
    justify-content:center;
    position: relative;
    text-align: center;
    margin-top: -30px;
    margin-bottom: 0%;
    font-size: 20px;
    background-color: black;
    padding-top: 100px;
    padding-bottom: 160px;
    max-width: 100%;
  }
  .card-icon {
    display: block;
    justify-content: center;
    position: relative;
    align-self: center ;
    height: 90px;
    max-width: 100px;
    margin-top: -160px;
    margin-bottom: 0%;
    margin-left: 25px;
    align-items: center;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 90px;
  }
  .contenedor-accesorios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin-top: 110px;
    margin-bottom: 0%;
    padding-left: 5%;
    padding-right: 5%;
    background-repeat: no-repeat;
    background-attachment: relative;
  }
  .parrafo-foto-P2 {
    display: flex;
    justify-content:center;
    position: relative;
    align-self: center;
    top: -400px;
    margin-bottom: 0%;
    margin-right: 50%;
    margin-left: 5%;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 60px;
    max-width: 800;
    color: rgba(255, 255, 255, 0.856);
    border-radius: 30px;
    background-color: rgba(205, 68, 18, 0.196);
    max-width: 100%;
  }
  .contenedor-taller {
    display: flex;
    flex-direction:column-reverse;
    justify-content: center;
    position: relative;
    margin-top: -140px;
    margin-bottom: 0%;
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
  }
  .parrafo-foto-P3 {
    display: flex;
    justify-content: center;
    position: relative;
    align-self: center;
    margin-top: -120px;
    margin-bottom: 0%;
    margin-right: 40px;
    margin-left: 30px;
    font-family:Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 60px;
    font-weight: 400;
    border-radius: 5px;
    padding-right: 5px;
    padding-left: 5px;
    background-color: rgba(210, 66, 14, 0.273);
    color: rgba(253, 252, 252, 0.756);
  }
  .modelos {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    position: relative;
    margin-top: 100px;
    margin-bottom: 0%;
    padding-left: 5%;
    padding-right: 5%;
  }
  .parrafo-foto-P4 {
    display:flex;
    justify-content: center;
    position:relative;
    align-self: center;
    margin-top: -110px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 60px;
    font-weight: 400;
    border-radius: 5px;
    margin-right: 5%;
    margin-left: 5%;
    padding-right: 10px;
    padding-left: 10px;
    background-color: rgba(235, 71, 11, 0.371);
    color: rgba(253, 252, 252, 0.756);
  }
  .bi-telefono {
    max-width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    position: relative;
    margin-top: 70px;
    margin-bottom: 0%;
    padding-left: 5%;
    padding-right: 5%;
  }
}
/*Fin sección tablet*/

@media only screen and (min-width: 1119px) {
  /* styles for browsers larger*/
  .titulo h1 {
    color: rgba(219, 171, 51, 0.996);
    font-size: 70px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }
  .header-form {
    display: flex;
    justify-content: center;
    align-self: center;
    visibility: visible;
    margin-top: 5px;
    font-size: 10px;
    position: relative;
    margin-right: 100px;
    max-width: 100%;
  }
  .nav-div {
    position: relative;
    margin-top: 0%;
    margin-left: 0%;
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }
  .contacto {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .bicicletas {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .accesorios {
    grid-column: 3;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .taller {
    grid-column: 4;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .novedades {
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 0%;
    border: 30%;
    font-size: 50px;
    border-style: ridge;
    color: rgba(217, 169, 48, 0.996);
    background-color: rgba(112, 107, 107, 0.2588235294);
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    text-transform: uppercase;
    transition-property:all;
    transition-duration: 10s;
    transition-timing-function: ease-out;
  }
  .video-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    position: relative;
    margin-top: 5px;
  }
  .texto-secundario {
    background-color: rgba(78, 65, 65, 0.227);
    font-family: Georgia, "Times New Roman", Times, serif;
    display: inline-block;
    justify-content: center;
    text-align: center;
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 0%;
    width: 100%;
  }

  .form-label {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 35px;
    margin-left: 40px;
    font-size: 30px;
  } 
  .form-control {
    display: inline-block;
    justify-content: center;
    align-self: center;
    position:relative;
    font-size: 30px;
    margin-left: 10px;
    margin-top: 0px;
    width: 50%;
  }
  .articulo img {
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-position: relative;
    background-repeat: no-repeat;
    background-attachment: relative; 
    margin-top: 15px;
    margin-bottom: 0%;
  }
  .parrafo-foto {
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;
    border-top: 10px;
    border-bottom: 100px;
    background-color: rgba(34, 87, 106, 0.352);
    font-family: Georgia, "Times New Roman", Times, serif;
    box-sizing: border-box;
    width: 100%;
  }
  .parrafo-foto {
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
    bottom: 2px;
    background-color: rgba(38, 20, 78, 0.647);
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 40px;
  }
  .card-text {
    display: flex;
    justify-content:center;
    position: relative;
    text-align: center;
    margin-top: -30px;
    margin-bottom: 0%;
    font-size: 30px;
    background-color: black;
    padding-top: 100px;
    padding-bottom: 160px;
    max-width: 100%;
  }
  .card-icon {
    display: block;
    justify-content: center;
    position: relative;
    align-self: center ;
    height: 100px;
    max-width: 100px;
    margin-top: -180px;
    margin-bottom: 0%;
    margin-left: 20px;
    align-items: center;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 90px;
  }
  .contenedor-accesorios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin-top: 130px;
    margin-bottom: 0%;
    padding-left: 5%;
    padding-right: 5%;
    background-repeat: no-repeat;
    background-attachment: relative;
    max-width: 100%;
  }
  .parrafo-foto-P2 {
    display: flex;
    justify-content:center;
    position: relative;
    align-self: center;
    top: -400px;
    margin-bottom: 0%;
    margin-right: 50%;
    margin-left: 5%;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 60px;
    max-width: 800;
    color: rgba(255, 255, 255, 0.856);
    border-radius: 30px;
    background-color: rgba(205, 68, 18, 0.196);
    max-width: 100%;
  }
  .contenedor-taller {
    display: flex;
    flex-direction:column-reverse;
    justify-content: center;
    position: relative;
    margin-top: -100px;
    margin-bottom: 0%;
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
  }
  .parrafo-foto-P3 {
    display: flex;
    justify-content: center;
    position: relative;
    align-self: center;
    margin-top: -120px;
    margin-bottom: 0%;
    margin-right: 40px;
    margin-left: 30px;
    font-family:Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 60px;
    font-weight: 400;
    border-radius: 2px;
    padding-right: 2px;
    padding-left: 2px;
    background-color: rgba(210, 66, 14, 0.273);
    color: rgba(253, 252, 252, 0.756);
  }
  .modelos {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    position: relative;
    margin-top: 100px;
    margin-bottom: 0%;
    padding-left: 5%;
    padding-right: 5%;
  }
  .parrafo-foto-P4 {
    display:flex;
    justify-content: center;
    position:relative;
    align-self: center;
    margin-top: -110px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 60px;
    font-weight: 400;
    border-radius: 5px;
    padding-right: 20x;
    padding-left: 20px;
    background-color: rgba(235, 71, 11, 0.371);
    color: rgba(253, 252, 252, 0.756);
  }
  .bi-telefono {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: auto;
    position: relative;
    margin-top: 70px;
    margin-bottom: 0%;
    padding-left: 5%;
    padding-right: 5%;
  }
}

/* Fin de sección escritorio*/