
@media only screen and (max-width: 400px) {
    /* styles for mobile. 400px; */

  .footer-parrafo {
    display: flex;
    justify-content: center;
    position: relative;
    background-color: black;
    font-size: 130%;
    bottom: 1080px;
    padding-bottom: 150%;
    padding-top: 10%;
    padding-right: 60%;
    right: 0%;
  }

  /* secciones */

  .column-content-2 {
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;
    bottom: 1510px;
    font-size: 120%;
    right: 28%;
  }

  .links {
    list-style-type: none;
  }

  .tarjet-1 {
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;
    gap: 2%;
    bottom: 1520px;
  }

  .column-content-3 {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 1770px;
    font-size: 100%;
    right: 30%;
  }

  .footer-parrafo-2 {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 1650px;
    font-size: 130%;
    right: 34%;
  }
  .titulo-footer-2 {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 1650px;
    font-size: 110%;
    right: 38%;
  }

  .copy-right {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 1640px;
    padding: auto;
    color: grey;
    font-size: 60%;
    right: 0%;
  }
}

@media only screen and (max-width: 400px) {
  /* styles for mobile. 400px; */
.footer-parrafo-taller {
  display: flex;
  justify-content: center;
  position: relative;
  background-color: black;
  font-size: 25px;
  bottom: 110px;
  padding-bottom: 600px;
  padding-top: 30px;
  padding-right: 55%;
  max-width: 100%;
}

/* secciones */

.column-content-t {
  display: flex;
  justify-content: center;
  position: relative;
  text-align: center;
  margin-bottom: 0px;
  font-size: 20px;
  right: 10px;
}

.links-taller {
  list-style-type: none;
}

.tarjet-t {
  display: flex;
  justify-content: center;
  position: relative;
  text-align: center;
  gap: 2px;
  bottom: 200px;
}

.column-content-t {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 800px;
  font-size: 20px;
  right: 30px;
}

.footer-parrafo-t {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 200px;
  font-size: 30px;
  right: 34px;
}
.titulo-footer-t {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 300px;
  font-size: 20px;
  right: 38px;
}

.copy-right-t {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 300px;
  padding: auto;
  color: grey;
  font-size: 20px;
  right: 0pz;
}
}

// -------------------------seccion escritorio-----------------

@media only screen and (min-width: 1200px) {
  /* styles for browsers larger than 1200px; */

.footer-parrafo {
  display: flex;
  justify-content: center;
  position: relative;
  background-color: black;
  font-size: 30px;
  bottom: 1795px;
  padding-bottom: 30%;
  padding-top: 3%;
  padding-right: 80%;
  right: 0%;
}

/* secciones */

.column-content-2 {
  display: flex;
  justify-content: center;
  position: relative;
  text-align: center;
  bottom: 2310px;
  font-size: 30px;
  right: 15px;
}

.links {
  list-style-type: none;
}

.tarjet-1 {
  display: flex;
  justify-content: center;
  position: relative;
  text-align: center;
  gap: 2%;
  bottom: 2280px;
}

.column-content-3 {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 2370px;
  font-size: 20px;
  right: 40%;
}

.footer-parrafo-2 {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 2600px;
  font-size: 30px;
  right: 0%;
  left: 580px;
}
.titulo-footer-2 {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 2580px;
  font-size: 20px;
  right: 0%;
  left: 560px;
}

.copy-right {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 2340px;
  padding: auto;
  color: grey;
  font-size: 20px;
  right: 0%;
}
}
//*taller*//
